# Unit test / coverage reports
.pytest_cache

# virtual env
env

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Celery stuff
celerybeat-schedule
celerybeat.pid


# Dependency directories
node_modules/